{{define "title"}}Signup{{end}}
{{define "page"}}
<!DOCTYPE html>
<html lang='en'>
{{ template "header" .}}
    <body class="bg-dark text-light">
    <form action="/crab/signup" name="sign-up-form" class="w-75 m-4" method="POST" novalidate>
        <!-- Include the CSRF token -->
        <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
        {{with .Form.FieldErrors.name}}
             <label class='error'>{{.}}</label>
        {{end}}
      <h1>Just a few minor details.</h1>
      <p class="text-muted mb-5">Already have an account? <a href="/crab/login">Log in</a></p>

      <!-- Email address -->
      <div class="form-group cool-input">
        <label for="exampleInputEmail1">Email address</label>
         {{range .Form.NonFieldErrors}}
             <div class='error'>{{.}}</div>
         {{end}}
        <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required aria-required
               required aria-required>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else. Human or otherwise.</small>
      </div>

      <!-- Pass -->
      <div class="form-group cool-input">
        <label for="exampleInputPassword1">Password</label>
         {{with .Form.FieldErrors.password}}
               <label class='error'>{{.}}</label>
          {{end}}
        <input type="password" name="password" class="form-control" id="exampleInputPassword1" autocomplete="new-password" required aria-required>

      </div>

      <!-- name -->
      <div class="form-group cool-input mt-5">
        <label for="inlineFormInputGroup">Username</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">@</div>
          </div>
           {{with .Form.FieldErrors.name}}
              <label class='error'>{{.}}</label>
           {{end}}
          <input name="name" type="text" class="form-control" id="inlineFormInputGroup" placeholder="crablover2000" required aria-required>
        </div>
      </div>

      <!-- Terms of Service -->
      <div class="form-group form-check mt-3">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
        <label class="form-check-label" for="exampleCheck1">I have read and agree to the
          <a href="/legal/TOS" target="_blank">terms of service</a></label><br>
        <i><small class="text-muted">Seriously, this is really important. It's short, I promise.</small></i>
      </div>
      <button type="submit" class="btn btn-primary rounded-pill">Create account</button>
    </form>
        <div class="text-muted text-center my-5" id="cookie-footer">
          <small>
            Krabber uses cookies. If you care, you can
            <a href="https://cdn.krabber.net/legal/cookies.txt">
              read about it here.
            </a>
          </small>
        </div>

    <!-- Spacer -->
    <div class="d-inline-block w-100 my-5 text-muted text-molt text-center"></div>
    </body>
</html>
{{end}}