{{define "title"}}Thread{{end}}

{{define "page"}}
<!DOCTYPE html>
 <html lang='en'>
    {{ template "header" .}}
    <body class="bg-dark text-light">
        <div class="container-fluid vh-100 master-container">
            <div class="row h-100 justify-content-center">
                {{ template "nav" .}}

                <!-- Main Content -->
                 <div class="col col-lg-6 content border-dark border-left border-right p-0" id="main-panel">
                     <!-- Thread bar -->
                     <div id="content-heading" class="border-dark border-bottom p-2">
                         <h6 class="m-1 absolute-container">
                             <strong>
                                <div class="row">
                                  <div class="col-2 col-lg-1 clickable">
                                    <a href="/sea">
                                      <svg hx-get="/sea" class="text-primary heading-back-arrow" width="24" height="24" data-jam="arrow-left">
                                       <use href="/static/img/sprites.svg?version=1704178675#arrow-left"></use>
                                      </svg>
                                   </a>
                                </div>
                                <div class="col px-0">Thread</div>
                                </div>
                             </strong>
                             <div class="absolute-middle-right scroll-back" >
                                <svg class="btn-icon" width="28" height="28" data-jam="arrow-up">
                                    <use href="/static/img/sprites.svg?version=1704178675#arrow-up">
                                    </use>
                                </svg>
                             </div>
                         </h6>
                    </div>
                    <!-- end thread bar -->
                    <!-- big molt -->
                    {{$out := .}}
                    {{ with .Molt }}
                        <div id="content-body" class="h-100" onscroll="updateScrollBack();">
                            <div class="large-molt mini-molt border-bottom border-dark px-3 pt-3 pb-0 absolute-container">
                                <div class="row mb-3">
                                    <div class="mini-molt-profile-box pr-1 col-auto">
                                        <a class="zindex-front" href="/crabs">
                                            <div class="rounded-circle px43 profile-picture" style="background-image: url('../../static/img/crab_illustration.jpg');">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="mini-molt-text-box w-100 px-2 col">
                                        <div class="mini-molt-credentials zindex-front">
                                            <a class="mini-molt-display-name" href="/user/">{{ .Author }}</a>
                                            <br>
                                            <span class="mini-molt-username">@{{ .Author }}</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- Molt Content -->
                                <div>
                                    <div class="mini-molt-content large-molt-text">
                                        <p class="mb-2">
                                            <span class="zindex-front not-clickable">
                                                {{ .Content }}
                                            </span>
                                        </p>
                                    </div>
                                    <!-- Molt -->
                                    <div class="w-100 pb-2 pt-1 text-muted border-bottom border-dark">
                                        {{ slice .GSI3PK 2 }}
                                        <abbr id="molt-source" title="This shows this Molt was posted">the Krabber web App</abbr>
                                        <span class="text-muted"></span>
                                    </div>
                                </div>
                            </div>
                            <!-- Replies -->
                                <div id="loaded-molts">
                                <form hx-trigger="submit" hx-post="/comment/{{ .ID }}" hx-on-htmx-after-request="if(event.detail.successful) this.reset()" hx-target="#comment-list" hx-swap="afterbegin">
                                   <input type='hidden' name='csrf_token' value='{{$out.CSRFToken}}'>
                                   <div class="form-group">
                                      <textarea class="form-control" name="comment" placeholder="Add a comment..."></textarea>
                                   </div>
                                   <button type="submit" class="btn btn-sm btn-primary">Comment</button>
                                </form>
                                <ul id="comment-list"></ul>
                                    {{ range .Comments }}
                                        {{block "comment-list-element" .}}
                                        <div class="regular-molt mini-molt   border-dark px-3 py-2 mb-2 d-flex flex-row absolute-container">
                                            <div class="mini-molt-profile-box">
                                                <div class="thread-connector">
                                                    <div class="thread-line"></div>
                                                </div>
                                            </div>
                                            <div class="mini-molt-text-box w-100 h-100 px-2">
                                                <div class="mini-molt-credentials   absolute-container">
                                                    <div class="mini-molt-credentials-text ">
                                                    <span class="mini-molt-username zindex-front">@{{ slice .PK 3 }}</span>
                                                    <span class="mini-molt-timestamp zindex-front">· {{slice .SK 14 19}}</span>
                                                   </div>
                                                </div>
                                                <!-- Molt content -->
                                                <div class="mini-molt-content">
                                                    <p class="mb-2">
                                                        <span class="zindex-front clickable">
                                                            {{ .Content }}
                                                        </span>
                                                    </p>
                                                </div>
                                                <!-- mini molt actions -->
                                                <div class="mini-molt-actions d-flex flex-row justify-content-between mr-md-5">
                                                    <div class="mini-molt-action reply rounded-circle zindex-front" >
                                                        <a href="/molt/view/{{slice .GSI4PK 3 }}">
                                                            <svg class="mini-molt-action-icon" width="19" height="19" data-jam="message">
                                                                 <use href="/static/img/sprites.svg?version=1704178675#message"></use>
                                                            </svg>
                                                         <span class="mini-molt-action-counter ml-1">
                                                                0
                                                         </span>
                                                        </a>
                                                    </div>
                                                <!-- Remolt dropdown -->
                                                    <form hx-trigger="submit" hx-post="/remolt/{{ slice .GSI4PK 3 }}">
{{/*                                                        <input type='hidden' name='csrf_token' value='{{ .CSRFToken}}'>*/}}
                                                        <div class="mini-molt-action remolt zindex-front">
                                                            <button class="remolt-button" type="submit">
                                                                <svg class="mini-molt-action-icon" width="19" height="19" data-jam="repeat">
                                                                   <use href="/static/img/sprites.svg?version=1704178675#repeat"></use></a>
                                                                </svg>
                                                            </button>
                                                            <span class="mini-molt-action-counter ml-1">
                                                               0
                                                            </span>
                                                        </div>
                                                    </form>

                                                <!-- Like button -->
                                                    <form hx-trigger="submit" hx-post="/molt/like/{{ slice .GSI4PK 3 }}">
{{/*                                                    <input type='hidden' name='csrf_token' value='{{ .CSRFToken}}'>*/}}
                                                    <div class="mini-molt-action like zindex-front" >
                                                                <button class="like-button" type="submit">
                                                                    <svg class="mini-molt-action-icon" width="19" height="19" data-jam="heart">
                                                                        <use href="/static/img/sprites.svg?version=1704178675#heart"></use>
                                                                    </svg>
                                                                </button>
                                                               <span class="mini-molt-action-counter ml-1">
                                                                        0
                                                               </span>
                                                    </div>
                                                </form>

                                                <!-- Dropdown button -->
                                                    <div class="dropdown">
                                                    <span class="zindex-front mini-molt-action reply" id="dropdownMenuLink" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                                    <svg class="mini-molt-action-icon" width="19" height="19" data-jam="more-horizontal">
                                                        <use href="/static/img/sprites.svg?version=1704178675#more-horizontal"></use>
                                                    </svg>
                                                    </span>
                                                </div>
                                                </div>
                                            </div>
                                            <!-- Molt page link -->
                                            <a href="/user/namename/status/12" class="absolute-fill" draggable="false"></a>
                                        </div>
                                        {{ end }}
                                    {{ end }}
                                    </ul>
                                </div>
                                <!-- spacer -->
                                <div class="d-inline-block w-100 p-5 my-5 text-muted text-molt text-center"></div>
                            {{ end }}
                        </div>
                </div>
                {{ template "search" . }}
            </div>
        </div>
    </body>
</html>
{{end}}