{{define "title"}}Thread{{end}}

{{define "page"}}
<!DOCTYPE html>
 <html lang='en'>
    {{ template "header" .}}
    <body class="bg-dark text-light">
        <div class="container-fluid vh-100 master-container">
            <div class="row h-100 justify-content-center">
                {{ template "nav" .}}

                <!-- Main Content -->
                 <div class="col col-lg-6 content border-dark border-left border-right p-0" id="main-panel">
                     <!-- Thread bar -->
                     <div id="content-heading" class="border-dark border-bottom p-2">
                         <h6 class="m-1 absolute-container">
                             <strong>
                                <div class="row">
                                  <div class="col-2 col-lg-1 clickable">
                                    <a href="/sea">
                                      <svg hx-get="/sea" class="text-primary heading-back-arrow" width="24" height="24" data-jam="arrow-left">
                                       <use href="/static/img/sprites.svg?version=1704178675#arrow-left"></use>
                                      </svg>
                                   </a>
                                </div>
                                <div class="col px-0">Thread</div>
                                </div>
                             </strong>
                             <div class="absolute-middle-right scroll-back" >
                                <svg class="btn-icon" width="28" height="28" data-jam="arrow-up">
                                    <use href="/static/img/sprites.svg?version=1704178675#arrow-up">
                                    </use>
                                </svg>
                             </div>
                         </h6>
                    </div>
                    <!-- end thread bar -->
                    <!-- big molt -->
                    {{$out := .}}
                    {{ with .Molt }}
                        <div id="content-body" class="h-100" onscroll="updateScrollBack();">
                            <div class="large-molt mini-molt border-bottom border-dark px-3 pt-3 pb-0 absolute-container">
                                <div class="row mb-3">
                                    <div class="mini-molt-profile-box pr-1 col-auto">
                                        <a class="zindex-front" href="/crabs">
                                            <div class="rounded-circle px43 profile-picture" style="background-image: url('../../static/img/crab_illustration.jpg');">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="mini-molt-text-box w-100 px-2 col">
                                        <div class="mini-molt-credentials zindex-front">
                                            <a class="mini-molt-display-name" href="/user/">{{ .Author }}</a>
                                            <br>
                                            <span class="mini-molt-username">@{{ .Author }}</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- Molt Content -->
                                <div>
                                    <div class="mini-molt-content large-molt-text">
                                        <p class="mb-2">
                                            <span class="zindex-front not-clickable">
                                                {{ .Content }}
                                            </span>
                                        </p>
                                    </div>
                                    <!-- Quoted molt preview -->
                                    <div class="w-100 pb-2 pt-1 text-muted border-bottom border-dark">
                                        {{ .GSI3PK }}
                                        <abbr id="molt-source" title="This shows this Molt was posted">theh Krabber Web App</abbr>
                                        <span class="text-muted"></span>
                                        <span clas="thread-badge">Thread</span>
                                    </div>
                                    <!-- mini molt actions -->
                                    <div class="mini-molt-actions d-flex flex-row border-dark justify-content-around w-100 py-2 px-4 mb-0">
                                        <!-- REPLY BUTTON -->
                                        <form>
                                            <input type="hidden" name="user_action" value="reply_molt">
                                            <input type="hidden" name="molt_id" value="11">
                                            <div class="mini-molt-action reply rounded-circle zindex-front">

                                                <svg class="mini-molt-action-icon" width="20" height="20" data-jam="message">
                                                    <use href="/static/img/sprites.svg?version=1704178675#message"></use>
                                                </svg>
                                            </div>
                                        </form>
                                        <!-- REMOLT DROPDOWN -->
                                        <div class="dropdown">
                                            <!-- TOGGLE REMOLT DROPDOWN BUTTON -->
                                            <div class="zindex-front mini-molt-action remolt " href="#" role="button" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false">
                                                <svg class="mini-molt-action-icon" width="20" height="20" data-jam="repeat">
                                                    <use href="/static/img/sprites.svg?version=1704178675#repeat"></use>
                                                </svg>
                                            </div>
                                            <!-- REMOLT DROPDOWN CONTENT -->
                                            <div class="neue-card molt-dropdown dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <!-- UNDO REMOLT BUTTON -->
                                            <form id="dd-undo-remolt" class="dropdown-item clickable hidden" method="POST">
                                                <input type="hidden" name="user_action" value="undo_remolt">
                                                <input type="hidden" name="molt_id" value="11">
                                                <div onclick="deleteRemolt(this)" class="text-danger">
                                                    <svg class="mini-molt-action-icon" width="16" height="16" data-jam="repeat">
                                                        <use href="/static/img/sprites.svg?version=1704178675#repeat"></use>
                                                    </svg>
                                                    Undo Remolt
                                                </div>
                                            </form>
                                            <!-- REMOLT BUTTON -->
                                            <form id="dd-remolt" class="dropdown-item clickable " method="POST">
                                                <input type="hidden" name="user_action" value="remolt_molt">
                                                <input type="hidden" name="molt_id" value="11">
                                                <div onclick="submitRemolt(this)">
                                                    <svg class="mini-molt-action-icon" width="16" height="16" data-jam="repeat">
                                                        <use href="/static/img/sprites.svg?version=1704178675#repeat"></use>
                                                    </svg>
                                                    Remolt
                                                </div>
                                            </form>
                                            <!-- QUOTE-MOLT BUTTON -->
                                            <form class="dropdown-item clickable" method="POST">
                                                <input type="hidden" name="user_action" value="quote_molt">
                                                <input type="hidden" name="molt_id" value="">
                                                <div onclick="prepareQuote('11', 'namename', 'namename');">
                                                    <svg class="mini-molt-action-icon" width="16" height="16" data-jam="pencil">
                                                        <use href="/static/img/sprites.svg?version=1704178675#pencil"></use>
                                                    </svg>
                                                    Quote Molt
                                                </div>
                                            </form>
                                            </div>
                                        </div>

                                        <!-- LIKE BUTTON -->
                                        <form method="POST">
                                            <input type="hidden" name="user_action" value="like_molt">
                                            <input type="hidden" name="molt_id" value="11">
                                            <div class="mini-molt-action like zindex-front" >

                                                <svg class="mini-molt-action-icon " width="20" height="20" data-jam="heart">
                                                    <use href="/static/img/sprites.svg?version=1704178675#heart"></use>
                                                </svg>

                                                <svg class="mini-molt-action-icon text-primary d-none" width="20" height="20" data-jam="heart-f">
                                                    <use href="/static/img/sprites.svg?version=1704178675#heart-f"></use>
                                                </svg>
                                            </div>
                                        </form>

                                        <!-- DROPDOWN BUTTON -->
                                        <div class="dropdown">
                                            <span class="zindex-front mini-molt-action reply" href="#" role="button" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false">

                                                <svg class="mini-molt-action-icon" width="20" height="20" data-jam="more-horizontal">
                                                    <use href="/static/img/sprites.svg?version=1704178675#more-horizontal"></use>
                                                </svg>
                                            </span>

                                                <div class="neue-card molt-dropdown dropdown-menu" aria-labelledby="dropdownMenuLink">


                                                    <!-- DELETE BUTTON -->

                                                        <form class="dropdown-item clickable" method="POST">
                                                            <input type="hidden" name="user_action" value="delete_molt">
                                                            <input type="hidden" name="molt_id" value="11">
                                                            <div onclick="if (confirm('Are you sure you want to delete this Molt? (Cannot be undone)')) {
                                                                this.parentNode.submit();$(this).parents('div.mini-molt').remove();}">

                                                                <svg width="16" height="16" data-jam="trash">
                                                                    <use href="/static/img/sprites.svg?version=1704178675#trash"></use>
                                                                </svg>
                                                                Delete Molt
                                                            </div>
                                                        </form>
                                                    <!-- REMOLT DELETE BUTTON -->
                                                        <!-- EDIT ALT TEXT BUTTON -->
                                                        <!-- MARK SFW BUTTON -->
                                                        <!-- MARK NSFW BUTTON -->
                                                        <form class="dropdown-item clickable" method="POST">
                                                            <input type="hidden" name="user_action" value="enable_nsfw_molt">
                                                            <input type="hidden" name="molt_id" value="11">
                                                            <div >

                                                                <svg width="19" height="19" data-jam="eye-close">
                                                                    <use href="/static/img/sprites.svg?version=1704178675#eye-close"></use>
                                                                </svg>
                                                                Label NSFW
                                                            </div>
                                                        </form>
                                                    <!-- BOOKMARK MOLT BUTTON -->
                                                    <form class="dropdown-item clickable" method="POST">
                                                        <input type="hidden" name="user_action" value="bookmark_molt">
                                                        <input type="hidden" name="molt_id" value="11">
                                                        <div >
                                                            <svg width="19" height="19" data-jam="bookmark">
                                                                <use href="/static/img/sprites.svg?version=1704178675#bookmark"></use>
                                                            </svg>
                                                            Add Molt to Bookmarks
                                                        </div>
                                                    </form>
                                                    <!-- BLOCK USER BUTTON -->
                                                    <form class="dropdown-item clickable" method="POST">
                                                        <input type="hidden" name="user_action" value="block">
                                                        <input type="hidden" name="target_user" value="5">
                                                        <div onclick="if (confirm('Are you sure you want to block this user?')) {
                                                            SubForm(this.parentNode);replaceMolt(this, 'You have blocked this user.');}">

                                                            <svg width="19" height="19" data-jam="ghost">
                                                                <use href="/static/img/sprites.svg?version=1704178675#ghost"></use>
                                                            </svg>
                                                            Block User
                                                        </div>
                                                    </form>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Replies -->
                                <div id="loaded-molts">
                                <form>
                                   <input type='hidden' name='csrf_token' value='{{$out.CSRFToken}}'>
                                   <div class="form-group">
                                      <textarea class="form-control" name="comment" placeholder="Add a comment..."></textarea>
                                   </div>
                                   <button hx-post="/comment/{{ .ID }}" hx-target="this" hx-swap="none" class="btn btn-sm btn-primary">Comment</button>
                                </form>
                                    {{ range .Comments }}
                                        <div class="regular-molt mini-molt   border-dark px-3 py-2 mb-2 d-flex flex-row absolute-container">
                                            <div class="mini-molt-profile-box   ">
                                                <a href="/crabs/{{ .PK }}" class="zindex-front">
                                                    <img class="rounded-circle px43 profile-picture" src="../../static/img/crab_illustration.jpg">
                                                </a>
                                                <div class="thread-connector">
                                                    <div class="thread-line"></div>
                                                </div>
                                            </div>
                                            <div class="mini-molt-text-box w-100 h-100 px-2">
                                                <div class="mini-molt-credentials   absolute-container">
                                                    <div class="mini-molt-credentials-text ">
{{/*                                                        <a href="/crabs/" class="mini-molt-display-name zindex-front">*/}}
{{/*                                                            {{  .PK }}*/}}
{{/*                                                        </a>*/}}
                                                    <span class="mini-molt-username zindex-front">@{{ slice .PK 3 }}</span>
                                                    <span class="mini-molt-timestamp zindex-front">· {{slice .SK 14 19}}</span>
                                                   </div>
                                                </div>
                                                <!-- Molt content -->
                                                <div class="mini-molt-content">
                                                    <p class="mb-2">
                                                        <span class="zindex-front clickable">
                                                            {{ .Content }}
                                                        </span>
                                                    </p>
                                                </div>
                                                <!-- Quoted Molt preview -->
                                                <div class="mini-molt-actions d-flex flex-row justify-content-between mr-md-5">
                                                    <!-- REPLY BUTTON -->
                                                    <form>
                                                        <input type="hidden" name="user_action" value="reply_molt">
                                                        <input type="hidden" name="molt_id" value="12">
                                                        <div class="mini-molt-action reply rounded-circle zindex-front" onclick="prepareReply('12', 'namename', 'namename');">

                                                            <svg class="mini-molt-action-icon" width="19" height="19" data-jam="message">
                                                                <use href="/static/img/sprites.svg?version=1704178675#message"></use>
                                                            </svg>
                                                            <span class="mini-molt-action-counter ml-1">1</span>
                                                        </div>
                                                    </form>
                                                    <!-- REMOLT DROPDOWN -->
                                                    <div class="dropdown">
                                                        <!-- TOGGLE REMOLT DROPDOWN BUTTON -->
                                                        <div class="zindex-front mini-molt-action remolt " href="#" role="button" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false">
                                                            <svg class="mini-molt-action-icon" width="19" height="19" data-jam="repeat">
                                                                <use href="/static/img/sprites.svg?version=1704178675#repeat"></use>
                                                            </svg>
                                                            <span class="mini-molt-action-counter ml-1">0</span>
                                                        </div>
                                                        <!-- REMOLT DROPDOWN CONTENT -->
                                                        <div class="neue-card molt-dropdown dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                            <!-- UNDO REMOLT BUTTON -->
                                                            <form id="dd-undo-remolt" class="dropdown-item clickable hidden" method="POST">
                                                                <input type="hidden" name="user_action" value="undo_remolt">
                                                                <input type="hidden" name="molt_id" value="12">
                                                                <div onclick="deleteRemolt(this)" class="text-danger">
                                                                    <svg class="mini-molt-action-icon" width="19" height="19" data-jam="repeat">
                                                                        <use href="/static/img/sprites.svg?version=1704178675#repeat"></use>
                                                                    </svg>
                                                                    Undo Remolt
                                                                </div>
                                                            </form>

                                                            <!-- REMOLT BUTTON -->
                                                            <form id="dd-remolt" class="dropdown-item clickable " method="POST">
                                                                <input type="hidden" name="user_action" value="remolt_molt">
                                                                <input type="hidden" name="molt_id" value="12">
                                                                <div onclick="submitRemolt(this)">
                                                                    <svg class="mini-molt-action-icon" width="19" height="19" data-jam="repeat">
                                                                        <use href="/static/img/sprites.svg?version=1704178675#repeat"></use>
                                                                    </svg>
                                                                    Remolt
                                                                </div>
                                                            </form>

                                                            <!-- QUOTE-MOLT BUTTON -->
                                                            <form class="dropdown-item clickable" method="POST">
                                                                <input type="hidden" name="user_action" value="quote_molt">
                                                                <input type="hidden" name="molt_id" value="">
                                                                <div onclick="prepareQuote('12', 'namename', 'namename');">
                                                                    <svg class="mini-molt-action-icon" width="19" height="19" data-jam="pencil">
                                                                        <use href="/static/img/sprites.svg?version=1704178675#pencil"></use>
                                                                    </svg>
                                                                    Quote Molt
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <!-- LIKE BUTTON -->
                                                    <form method="POST">
                                                        <input type="hidden" name="user_action" value="like_molt">
                                                        <input type="hidden" name="molt_id" value="12">
                                                        <div class="mini-molt-action like zindex-front" >


                                                                <svg class="mini-molt-action-icon " width="19" height="19" data-jam="heart">
                                                                    <use href="/static/img/sprites.svg?version=1704178675#heart"></use>
                                                                </svg>

                                                                <svg class="mini-molt-action-icon text-primary d-none" width="19" height="19" data-jam="heart-f">
                                                                    <use href="/static/img/sprites.svg?version=1704178675#heart-f"></use>
                                                                </svg>
                                                                <span class="mini-molt-action-counter ml-1 ">0</span>

                                                        </div>
                                                    </form>
                                                    <!-- DROPDOWN BUTTON -->
                                                    <div class="dropdown">
                                                        <span class="zindex-front mini-molt-action reply" href="#" role="button" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false">

                                                            <svg class="mini-molt-action-icon" width="19" height="19" data-jam="more-horizontal">
                                                                <use href="/static/img/sprites.svg?version=1704178675#more-horizontal"></use>
                                                            </svg>
                                                        </span>

                                                            <div class="neue-card molt-dropdown dropdown-menu" aria-labelledby="dropdownMenuLink">



                                                                <!-- DELETE BUTTON -->

                                                                    <form class="dropdown-item clickable" method="POST">
                                                                        <input type="hidden" name="user_action" value="delete_molt">
                                                                        <input type="hidden" name="molt_id" value="12">
                                                                        <div onclick="if (confirm('Are you sure you want to delete this Molt?')) {
                                                                            SubForm(this.parentNode);$(this).parents('div.mini-molt').remove();}">

                                                                            <svg width="19" height="19" data-jam="trash">
                                                                                <use href="/static/img/sprites.svg?version=1704178675#trash"></use>
                                                                            </svg>
                                                                            Delete Molt
                                                                        </div>
                                                                    </form>
                                                                <!-- REMOLT DELETE BUTTON -->
                                                                    <!-- MARK NSFW BUTTON -->
                                                                    <form class="dropdown-item clickable" method="POST">
                                                                        <input type="hidden" name="user_action" value="enable_nsfw_molt">
                                                                        <input type="hidden" name="molt_id" value="12">
                                                                        <div >

                                                                            <svg width="19" height="19" data-jam="eye-close">
                                                                                <use href="/static/img/sprites.svg?version=1704178675#eye-close"></use>
                                                                            </svg>
                                                                            Label NSFW
                                                                        </div>
                                                                    </form>
                                                                <!-- BOOKMARK MOLT BUTTON -->
                                                                <form class="dropdown-item clickable" method="POST">
                                                                    <input type="hidden" name="user_action" value="bookmark_molt">
                                                                    <input type="hidden" name="molt_id" value="12">
                                                                    <div >
                                                                        <svg width="19" height="19" data-jam="bookmark">
                                                                            <use href="/static/img/sprites.svg?version=1704178675#bookmark"></use>
                                                                        </svg>
                                                                        Add Molt to Bookmarks
                                                                    </div>
                                                                </form>
                                                            </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Molt page link -->
                                            <a href="/user/namename/status/12" class="absolute-fill" draggable="false"></a>
                                        </div>
                                    {{ end }}
                                </div>
                                <!-- spacer -->
                                <div class="d-inline-block w-100 p-5 my-5 text-muted text-molt text-center"></div>
                            {{ end }}
                        </div>
                </div>
                {{ template "search" . }}
            </div>
        </div>
    </body>
</html>
{{end}}